/**Colors**/
/**Police icone**/
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  margin: 0px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.loc-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 2.5rem;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  background-color: #eaeaea;
}
.loc-search__logo {
  color: #353535;
  position: relative;
  left: 1.5rem;
}
.loc-search ::-webkit-input-placeholder {
  color: #353535;
  opacity: 1;
  font-weight: 600;
}
.loc-search ::-moz-placeholder {
  color: #353535;
  opacity: 1;
  font-weight: 600;
}
.loc-search :-ms-input-placeholder {
  color: #353535;
  opacity: 1;
  font-weight: 600;
}
.loc-search ::-ms-input-placeholder {
  color: #353535;
  opacity: 1;
  font-weight: 600;
}
.loc-search ::placeholder {
  color: #353535;
  opacity: 1;
  font-weight: 600;
}
.loc-search__input {
  border-color: #eaeaea;
  background-color: #eaeaea;
  border: 0px;
  text-align: center;
}

nav {
  background-color: #f2f2f2;
}

.explore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 3.5rem;
}
.explore__title {
  font-weight: 700;
  font-size: 24px;
  margin: 2.5rem 3rem 0rem;
}
.explore__description {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  padding-bottom: 1rem;
}
.explore__button {
  background: linear-gradient(-10deg, #9356dc, #ff79da);
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  color: white;
  padding: 1.1rem 1.5rem;
  border-radius: 50px;
  text-decoration: none;
  -webkit-transition: -webkit-filter 0.4s;
  transition: -webkit-filter 0.4s;
  transition: filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
}
.explore__button:hover {
  -webkit-transition: -webkit-filter 0.4s;
  transition: -webkit-filter 0.4s;
  transition: filter 0.4s;
  transition: filter 0.4s, -webkit-filter 0.4s;
  -webkit-filter: brightness(1.3);
          filter: brightness(1.3);
}

.instruction {
  margin: 2rem 1rem 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}
.instruction__label {
  -webkit-box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 2px 6px 10px rgba(0, 0, 0, 0.1);
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 0.5rem;
  position: relative;
  overflow: visible;
}
.instruction__label::after {
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #9356dc;
  color: white;
  border-radius: 50%;
}
.instruction__label--1::after {
  content: "1";
}
.instruction__label--2::after {
  content: "2";
}
.instruction__label--3::after {
  content: "3";
}
.instruction__step-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5rem;
  margin-left: 1.3rem;
}
.instruction__title {
  font-weight: 700;
  font-size: 24px;
}
.instruction__logo {
  font-size: 1.2rem;
  color: #7e7e7e;
}
.instruction__logo--purple {
  color: #9356dc;
}
.instruction__texte {
  font-weight: 500;
}

.restaurant {
  background-color: #f2f2f2;
}
.restaurant__margin {
  padding: 3rem 0rem 5rem 0rem;
  margin: 2rem 1rem 0rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
.restaurant__title {
  margin: 0px;
}
.restaurant a {
  text-decoration: none;
  color: black;
}
.restaurant__location {
  font-size: 17px;
  color: #353535;
  font-weight: 300px;
  margin: 0px;
  padding: 0.2rem 0rem 0rem 0rem;
}
.restaurant__name {
  font-size: 18px;
  margin: 0px;
}
.restaurant__card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1rem 0.5rem;
}
.restaurant__checkbox {
  display: none;
}
.restaurant__heart-label {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.restaurant__heart-label .heart-shape {
  -webkit-transition: stroke 5s, fill 5s opacity 0.5s;
  transition: stroke 5s, fill 5s opacity 0.5s;
}
.restaurant__heart-label .heart-fill {
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}
input[type=checkbox]:checked + .restaurant__heart-label .restaurant__heart .heart-shape {
  stroke: url(#heart-like);
  fill: url(#heart-like);
  opacity: 1;
}
input[type=checkbox]:checked + .restaurant__heart-label .restaurant__heart .heart-fill {
  opacity: 0.15;
}
.restaurant__card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
}
.restaurant__card--label::after {
  position: absolute;
  content: "Nouveau";
  background-color: #99e2d0;
  padding: 0.3rem 0.7rem;
  border-radius: 5%;
  right: 1rem;
  top: 1rem;
  font-size: 14px;
  color: #008766;
}
.restaurant img {
  width: 100%;
  height: 180px;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.restaurant__picture {
  -o-object-position: 50% 100%;
     object-position: 50% 100%;
}
.restaurant__picture--resize {
  -o-object-position: 50% 60%;
     object-position: 50% 60%;
}

footer {
  background-color: #353535;
  color: white;
}
footer .footer {
  padding: 1rem 0rem 2rem 0rem;
  margin: 0rem 1rem 0rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
footer .footer p {
  margin: 0.5rem 0rem 0.5rem 0rem;
  font-weight: 300;
}
footer .footer a {
  text-decoration: none;
  color: white;
  font-weight: 300;
}
footer .footer i {
  font-size: 12px;
}
footer .footer__title {
  -webkit-filter: invert(1);
          filter: invert(1);
  width: 110px;
}
footer .footer__texte-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  font-size: 16px;
  margin: 0px;
}