@mixin police-base {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

@mixin numbers-label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-color;
    color: white;
    border-radius: 50%;
}
