/**Colors**/

$background: #f2f2f2;
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$fourth-color: #353535;

/**Police icone**/
$background-search: #eaeaea;
$icon-color: #7e7e7e;

//Etiquettes "Nouveau" //

$new-background: #99e2d0;
$new-font: #008766;

//Effet animation//

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 1;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
