/**Colors**/

$background: #f2f2f2;
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$fourth-color: #353535;

/**Police**/
$background-search: #eaeaea;
$icon-color: #7e7e7e;
