@import "./_variables";
@import "./_mixins";
* {
    box-sizing: border-box;
}
body {
    @include police-base;
    margin: 0px;
    animation: fadeIn 0.6s ease;
}
.loader {
    gap: 3rem;
    @include flex-center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 9999;
    animation: fadeIn 0.4s linear;
    animation: fadeOut 0.4s linear forwards 2s;
    &__logo {
        width: 250px;
        animation: pulse 1.5s ease-in-out infinite;
    }
    &__flex {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    &__load {
        background-color: black;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        animation: bounce 1.5s infinite ease-in-out;
        &--1 {
            animation-delay: 0s;
        }
        &--2 {
            animation-delay: 0.3s;
        }
        &--3 {
            background-color: white;
            animation-delay: 0.6s;
        }
        &--4 {
            background-color: white;
            animation-delay: 0.9s;
        }
        &--5 {
            background-color: white;
            animation-delay: 1.2s;
        }

        &--6 {
            background-color: white;
            animation-delay: 1.5s;
        }
        &--7 {
            background-color: white;
            animation-delay: 1.2s;
        }
        &--8 {
            background-color: white;
            animation-delay: 0.9s;
        }
        &--9 {
            background-color: white;
            animation-delay: 0.6s;
        }
        &--10 {
            animation-delay: 0.3s;
        }
        &--11 {
            animation-delay: 0s;
        }
    }
}
.nav {
    background-color: $background;

    &__title {
        @include flex-center;
        &--logo {
            width: 170px;
            height: 60px;
        }
    }

    &__loc-search {
        @include flex-center;
        height: 2.5rem;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        background-color: $background-search;
        &__logo {
            color: $fourth-color;
            position: relative;
            left: 1.5rem;
        }
        ::placeholder {
            color: $fourth-color;
            opacity: 1;
            font-weight: 600;
        }
        &--input {
            border-color: $background-search;
            background-color: $background-search;
            border: 0px;
            text-align: center;
        }
    }

    &__explore {
        @include flex-center;
        flex-direction: column;
        text-align: center;
        padding-bottom: 3.5rem;

        &--title {
            font-weight: 700;
            font-size: 24px;
            margin: 2.5rem 3rem 0rem;
        }
        &--description {
            font-size: 18px;
            font-weight: 300;
            color: $fourth-color;
            padding-bottom: 1rem;
        }
        //NE PAS OUBLIEZ L'ANCRE DU LIEN HREF//
        &--button {
            @include button-style;
        }
        &--button:hover {
            @include button-hover;
        }
    }
}
.instruction {
    &__title {
        margin-left: 1rem;
        font-size: 24px;
        font-weight: 700;
        padding-top: 2rem;
    }
    &__flexbox {
        margin: 2rem 1rem 1rem 2rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding-bottom: 3rem;
    }

    &__label {
        @include label-border;
        background-color: $background;

        position: relative;
    }
    &__label::after {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 24px;
        height: 24px;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        color: white;
        border-radius: 50%;
    }
    &__label--1::after {
        content: "1";
    }
    &__label--2::after {
        content: "2";
    }
    &__label--3::after {
        content: "3";
    }

    &__step-description {
        display: flex;
        width: 100%;
        align-items: center;
        gap: 1.5rem;
        margin-left: 1.3rem;
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
    }
    &__logo {
        font-size: 1.2rem;
        color: $icon-color;
    }
    &__logo--purple {
        color: $primary-color;
    }
    &__texte {
        font-weight: 500;
    }
}

.restaurant {
    padding: 2rem 0rem 5rem 0rem;
    background-color: $background;

    &__margin {
        margin: 2rem 1rem 0rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    &__flexbox {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__title {
        margin: 0rem 0rem 0rem 0rem;
    }

    a {
        text-decoration: none;
        color: black;
    }

    &__location {
        font-size: 17px;
        color: $fourth-color;
        font-weight: 300px;
        margin: 0px;
        padding: 0.2rem 0rem 0rem 0rem;
    }

    &__name {
        font-size: 18px;
        margin: 0px;
    }

    &__card-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 1rem 0.5rem;
    }

    &__checkbox {
        display: none;
    }
    &__heart-label {
        cursor: pointer;
        @include heart-dimensions;
        @include flex-center;
        .heart-shape {
            @include heart-shape-transition;
        }
        .heart-fill {
            @include heart-fill-transition;
        }
    }
    input[type="checkbox"]:checked + .restaurant__heart-label .restaurant__heart .heart-shape {
        @include checked-heart-shape;
    }
    input[type="checkbox"]:checked + .restaurant__heart-label .restaurant__heart .heart-fill {
        @include checked-heart-fill;
    }

    &__card {
        position: relative;
        display: flex;
        width: 100%;
        flex-direction: column;
        border-radius: 15px;
        overflow: hidden;
        background-color: white;
        &--label::after {
            position: absolute;
            content: "Nouveau";
            background-color: $new-background;
            padding: 0.3rem 0.7rem;
            border-radius: 5%;
            right: 1rem;
            top: 1rem;
            font-size: 14px;
            color: $new-font;
        }
    }

    img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        display: block;
    }
    &__picture {
        object-position: 50% 100%;
        &--resize {
            object-position: 50% 60%;
        }
    }
}

.footer {
    background-color: $fourth-color;
    color: white;
    padding: 1rem 0rem 2rem 1.5rem;

    display: flex;
    flex-direction: column;

    font-weight: 400;
    font-size: 16px;
    font-family: "Roboto", sans-serif;

    &__title {
        filter: invert(1);
        width: 110px;
    }

    &__flexbox {
        display: flex;
        flex-direction: column;
    }

    &__title {
        filter: invert(1);
    }
    &__texte {
        display: flex;
        flex-direction: column;
    }
    &__texte-icon {
        display: flex;
        gap: 1rem;
        flex-direction: row;
        align-items: center;
    }

    & a {
        text-decoration: none;
        color: white;
    }
    & p {
        margin: 0.5rem 0rem;
    }
}

@media screen and (min-width: 768px) {
    .instruction {
        flex-direction: column;
        display: flex;
        &__margin {
            margin: 2rem 3rem 1rem 2rem;
        }

        &__flexbox {
            flex-direction: row;
            gap: 2rem;
            margin-left: 1.5rem;
            margin-top: 1rem;
        }

        &__step-description {
            width: 100%;
        }
        &__label {
            width: 100%;
        }
        &__title {
            display: flex;
            text-align: left;
            width: fit-content;
            margin: 2rem 0rem 2rem 0rem;
            padding: 0rem 0rem 0rem 0rem;
        }
        &__texte {
            max-width: 85%;
        }
    }

    .restaurant {
        padding: 2rem 0rem 2rem 0rem;
        &__margin {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 2rem;
            margin: 0rem 1rem 0rem 1rem;
        }
        &__flexbox {
            width: 100%;
            display: flex;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 3rem;
        }
        &__card {
            width: 45%;
        }
        &__title {
            margin-left: 1rem;
        }
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;
        gap: 4rem;

        padding: 4rem 3rem 2rem 2rem;

        &__flexbox {
            display: flex;
            flex-direction: row;
            gap: 3rem;
        }

        &__title {
            margin: 0rem 2rem 0rem 2rem;
            filter: invert(1);
            width: 130px;
        }
        &__texte {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 1rem;
        }
        &__texte-icon {
            gap: 1rem;
        }
    }
}
@media screen and (min-width: 1024px) {
    .instruction {
        display: flex;
        align-items: center;
        flex-direction: column;

        &__margin {
            margin: 2rem 3rem 1rem 3rem;
            max-width: 1024px;
            width: 100%;
            overflow: hidden;
            justify-content: center;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__flexbox {
            display: flex;
            justify-content: center;
        }

        &__label {
            width: 100%;
        }
        &__title {
            text-align: left;
            width: fit-content;
            margin: 2rem 0rem 2rem 1rem;
        }
        &__texte {
            max-width: 100%;
        }
    }
    .restaurant {
        padding: 2rem 0rem 2rem 0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &__margin {
            display: flex;
            max-width: 1024px;
            width: 100%;
            justify-content: center;
            margin: 0px;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 2rem;
        }
        &__flexbox {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            flex-direction: row;
            flex-wrap: wrap;
            gap: 3rem;
        }
        &__card {
            width: 45%;
        }
        &__title {
            text-align: left;
            width: 100%;
            margin-left: 1.5rem;
        }
        &__picture {
            object-position: 50% 80%;

            &--resize {
                object-position: 50% 60%;
            }
        }
    }

    .footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        align-items: center;

        padding: 4rem 3rem 2rem 2rem;

        &__flexbox {
            display: flex;
            flex-direction: row;
            gap: 0rem;
        }

        &__title {
            margin: 0rem 2rem 0rem 2rem;
            filter: invert(1);
            width: 100px;
        }
        &__texte {
            display: flex;
            justify-content: row;
            padding-left: 3rem;
        }
        &__texte-icon {
            padding-left: 1rem;
        }
    }
}
